<a href="https://colab.research.google.com/github/jonnie763/DATA-Science-601/blob/main/Week_12_Tidy_Data_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment Content

I provide you with a set of data sources in a Jupyter notebook​

For each data source,​

Answer in Markdown cell this question with a Yes or No: ​
Does the data adhere to the tidy data guidelines?​
If Yes, then no additional action is required.​
If No, then ​
Use Python and relevant libraries to transform the data to a tidy data structure​
After applying the transformation, display the number of rows and columns in the transformed dataframe​
After applying the transformation, print a list of the new column names​


Please submit your notebook here.

## Defining tidy data
The structure Wickham defines as tidy has the following attributes:

## Each variable forms a column and contains values 

## Each observation forms a row 

## Each type of observational unit forms a table

## Messy Data


There are 5 examples of messy data we will explore here:
## Column headers are values, not variable names.
## Multiple variables are stored in one column.
## Variables are stored in both rows and columns.
## Multiple types of observational units are stored in the same table.
## A single observational unit is stored in multiple tables.
Of course, there are more types of messiness that are not shown above, but they can be tidied in a similar way.

In [1]:
import pandas
print('pandas',pandas.__version__)

import time

# https://www.jeannicholashould.com/tidy-data-in-python.html

pandas 1.1.5

In [2]:
# please use .head() or .tail() rather than viewing the entire dataframe
pandas.set_option("display.max_rows", 50)
pandas.set_option("display.max_columns", 50)

# data 1
https://data.ny.gov/Energy-Environment/Solid-Waste-Management-Facilities/2fni-raj8

In [3]:
df1 = pandas.read_csv('https://data.ny.gov/api/views/2fni-raj8/rows.csv?accessType=DOWNLOAD&sorting=true')
df1.shape
df1

,Facility Name,Location Address,Location Address2,City,State,Zip Code,County,Region,Phone Number,Owner Name,Owner Type,Activity Desc,Activity Number,Active,East Coordinate,North Coordinate,Accuracy Code,Waste Types,Authorization Number,Authorization Issue Date,Expiration Date,Georeference
0,Alpha Jamesville Facility,Ogle Road,NaN,Jamesville,NY,13078,Onondaga,7,3.154335e+09,Syracuse Sand and Gravel LLC,Private,C&D processing - registration,[34W11],Yes,409509,4761931,4 - GIS Assisted,Asphalt;Concrete;Soil (Clean);Rock,34W11,07/09/2012,NaN,NaN
1,Blacktop Maintenance Corp,27 Commerce Street,NaN,Poughkeepsie,NY,12603,Dutchess,3,8.454719e+09,Blacktop Maintenance Corp,Private,C&D processing - registration,[14W03],Yes,595261,4615369,NaN,Concrete;Asphalt;Brick;Rock,14W03,NaN,NaN,"27 Commerce Street\nPoughkeepsie, NY 12603\n(4..."
2,Dan's Hauling & Demo Inc,NY 9J,NaN,East Greenbush,NY,12061,Rensselaer,4,5.184390e+09,Dan Wolfe,Private,C&D processing - registration,[42W04],Yes,602852,4717523,NaN,NaN,NaN,NaN,NaN,NaN
3,South Island Industries,2 Rason Rd,NaN,Inwood,NY,11096,Nassau,1,5.163712e+09,Bill Haughland,Private,C&D processing - registration,[30W15R],Yes,606273,4498313,NaN,Concrete;Soil (Clean);Rock,30W15R,12/16/1998,NaN,"2 Rason Rd\nInwood, NY 11096\n(40.629454, -73...."
4,Brookhaven Waste Management Facility,350 Horseblock Road,NaN,Yaphank,NY,11719,Suffolk,1,6.312869e+09,Town of Brookhaven,Municipal,CDDHRF - concrete rock brick - registration,[52C10226],Yes,675100,4518600,1 - No accuracy stated,Concrete,52C10226,01/28/2020,01/27/2025,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2789,Yole Pit (LCD Landfill),NYS Route 149,NaN,Fort Ann,NY,12827,Washington,5,5.187981e+09,Schermerhorn Sand & Gravel LLC,Private,Landfill - land clearing debris,[58D06],Yes,615732,4807118,1 - No accuracy stated,Land Clearing Debris,58D06,02/06/2003,NaN,NaN
2790,Waste Connections of NY. Inc. - Canal Place,246 - 266 Canal Place,NaN,Bronx,NY,10451,Bronx,2,7.324829e+09,Waste Connections of NY. Inc.,Private,RHRF - greater than 5 tpd - registration,[03R20003],Yes,590417,4518489,4.2.1 - Utilization of GIS and Facility Mappin...,Clear Glass;Commingled Paper;Container Glass;P...,03R20003,12/05/2019,12/04/2024,"246 - 266 Canal Place\nBronx, NY 10451\n(40.81..."
2791,Neversink TS,7951 Route 55,NaN,Grahamsville,NY,12470,Sullivan,3,8.459853e+09,Town of Neversink,Municipal,Transfer facility - registration,[53T10007],Yes,534970,4634253,NaN,Construction & Demolition Debris;MSW (Resident...,53T10007,12/28/2018,12/28/2023,NaN
2792,Moy Enterprises LCD Landfill,143 Becker Road,NaN,Greenwich,NY,12834,Washington,5,5.186929e+09,Brotherhood Farms,Private,Landfill - land clearing debris,[58D10],Yes,616989,4765985,4.3 - Utilization of Digital Orthophoto Quads,Land Clearing Debris,10D10,03/23/2010,NaN,"143 Becker Road\nGreenwich, NY 12834\n(42.9989..."
2793,Casings; Inc. - Deyo Warehouse,Route 9W; PO Box 731,NaN,Catskill,NY,12414-0731,Greene,4,NaN,Richard Evans,Private,Waste tire storage - permit,[20K01],Yes,593067,4674958,NaN,Waste Tires,4-1926-00108/00003,03/30/2010,08/31/2020,NaN

### Is this data tidy or not?

NO

*if the data is not tidy, then convert the data to a tidy dataframe*

In [4]:
df1.drop(columns=['Location Address2']) # Remove Nan Values

,Facility Name,Location Address,City,State,Zip Code,County,Region,Phone Number,Owner Name,Owner Type,Activity Desc,Activity Number,Active,East Coordinate,North Coordinate,Accuracy Code,Waste Types,Authorization Number,Authorization Issue Date,Expiration Date,Georeference
0,Alpha Jamesville Facility,Ogle Road,Jamesville,NY,13078,Onondaga,7,3.154335e+09,Syracuse Sand and Gravel LLC,Private,C&D processing - registration,[34W11],Yes,409509,4761931,4 - GIS Assisted,Asphalt;Concrete;Soil (Clean);Rock,34W11,07/09/2012,NaN,NaN
1,Blacktop Maintenance Corp,27 Commerce Street,Poughkeepsie,NY,12603,Dutchess,3,8.454719e+09,Blacktop Maintenance Corp,Private,C&D processing - registration,[14W03],Yes,595261,4615369,NaN,Concrete;Asphalt;Brick;Rock,14W03,NaN,NaN,"27 Commerce Street\nPoughkeepsie, NY 12603\n(4..."
2,Dan's Hauling & Demo Inc,NY 9J,East Greenbush,NY,12061,Rensselaer,4,5.184390e+09,Dan Wolfe,Private,C&D processing - registration,[42W04],Yes,602852,4717523,NaN,NaN,NaN,NaN,NaN,NaN
3,South Island Industries,2 Rason Rd,Inwood,NY,11096,Nassau,1,5.163712e+09,Bill Haughland,Private,C&D processing - registration,[30W15R],Yes,606273,4498313,NaN,Concrete;Soil (Clean);Rock,30W15R,12/16/1998,NaN,"2 Rason Rd\nInwood, NY 11096\n(40.629454, -73...."
4,Brookhaven Waste Management Facility,350 Horseblock Road,Yaphank,NY,11719,Suffolk,1,6.312869e+09,Town of Brookhaven,Municipal,CDDHRF - concrete rock brick - registration,[52C10226],Yes,675100,4518600,1 - No accuracy stated,Concrete,52C10226,01/28/2020,01/27/2025,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2789,Yole Pit (LCD Landfill),NYS Route 149,Fort Ann,NY,12827,Washington,5,5.187981e+09,Schermerhorn Sand & Gravel LLC,Private,Landfill - land clearing debris,[58D06],Yes,615732,4807118,1 - No accuracy stated,Land Clearing Debris,58D06,02/06/2003,NaN,NaN
2790,Waste Connections of NY. Inc. - Canal Place,246 - 266 Canal Place,Bronx,NY,10451,Bronx,2,7.324829e+09,Waste Connections of NY. Inc.,Private,RHRF - greater than 5 tpd - registration,[03R20003],Yes,590417,4518489,4.2.1 - Utilization of GIS and Facility Mappin...,Clear Glass;Commingled Paper;Container Glass;P...,03R20003,12/05/2019,12/04/2024,"246 - 266 Canal Place\nBronx, NY 10451\n(40.81..."
2791,Neversink TS,7951 Route 55,Grahamsville,NY,12470,Sullivan,3,8.459853e+09,Town of Neversink,Municipal,Transfer facility - registration,[53T10007],Yes,534970,4634253,NaN,Construction & Demolition Debris;MSW (Resident...,53T10007,12/28/2018,12/28/2023,NaN
2792,Moy Enterprises LCD Landfill,143 Becker Road,Greenwich,NY,12834,Washington,5,5.186929e+09,Brotherhood Farms,Private,Landfill - land clearing debris,[58D10],Yes,616989,4765985,4.3 - Utilization of Digital Orthophoto Quads,Land Clearing Debris,10D10,03/23/2010,NaN,"143 Becker Road\nGreenwich, NY 12834\n(42.9989..."
2793,Casings; Inc. - Deyo Warehouse,Route 9W; PO Box 731,Catskill,NY,12414-0731,Greene,4,NaN,Richard Evans,Private,Waste tire storage - permit,[20K01],Yes,593067,4674958,NaN,Waste Tires,4-1926-00108/00003,03/30/2010,08/31/2020,NaN

In [5]:
for col in df1.columns: # Print column list 
    print(col)

Facility Name
Location Address
Location Address2
City
State
Zip Code
County
Region
Phone Number
Owner Name
Owner Type
Activity Desc
Activity Number
Active
East Coordinate
North Coordinate
Accuracy Code
Waste Types
Authorization Number
Authorization Issue Date
Expiration Date
Georeference

# data 2
https://data.ny.gov/Energy-Environment/Gasoline-Retail-Prices-Weekly-Average-by-Region-Be/nqur-w4p7/data

In [6]:
df2 = pandas.read_csv('https://data.ny.gov/api/views/nqur-w4p7/rows.csv?accessType=DOWNLOAD&sorting=true')
df2.shape
df2

,Date,New York State Average ($/gal),Albany Average ($/gal),Batavia Average ($/gal),Binghamton Average ($/gal),Buffalo Average ($/gal),Dutchess Average ($/gal),Elmira Average ($/gal),Glens Falls Average ($/gal),Ithaca Average ($/gal),Kingston Average ($/gal),Nassau Average ($/gal),New York City Average ($/gal),Rochester Average ($/gal),Syracuse Average ($/gal),Utica Average ($/gal),Watertown Average ($/gal),White Plains Average ($/gal)
0,03/29/2021,2.91,2.88,2.84,2.90,2.83,2.93,2.85,2.93,2.89,2.86,2.88,2.99,2.88,2.87,2.94,2.95,3.00
1,03/22/2021,2.91,2.89,2.84,2.90,2.83,2.95,2.87,2.93,2.88,2.87,2.88,2.99,2.88,2.87,2.93,2.95,3.00
2,03/15/2021,2.88,2.86,2.81,2.86,2.81,2.91,2.84,2.89,2.85,2.83,2.84,2.95,2.85,2.84,2.89,2.89,2.96
3,03/08/2021,2.81,2.79,2.74,2.80,2.75,2.82,2.78,2.82,2.78,2.78,2.79,2.88,2.79,2.78,2.82,2.83,2.89
4,03/01/2021,2.75,2.73,2.69,2.74,2.69,2.77,2.72,2.75,2.73,2.70,2.72,2.80,2.73,2.72,2.76,2.77,2.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,11/26/2007,3.28,3.26,NaN,3.25,3.29,NaN,NaN,NaN,NaN,NaN,3.27,3.28,3.28,3.29,3.32,NaN,NaN
697,11/19/2007,3.26,3.24,NaN,3.23,3.27,NaN,NaN,NaN,NaN,NaN,3.25,3.26,3.26,3.28,3.31,NaN,NaN
698,11/12/2007,3.21,3.20,NaN,3.18,3.21,NaN,NaN,NaN,NaN,NaN,3.18,3.18,3.20,3.22,3.25,NaN,NaN
699,11/05/2007,3.10,3.09,NaN,3.08,3.09,NaN,NaN,NaN,NaN,NaN,3.06,3.07,3.09,3.10,3.12,NaN,NaN
700,10/29/2007,2.98,2.97,NaN,2.99,2.99,NaN,NaN,NaN,NaN,NaN,2.95,2.97,3.00,2.99,3.03,NaN,NaN

In [7]:
Gas_per_State= pandas.read_csv('https://data.ny.gov/api/views/nqur-w4p7/rows.csv?accessType=DOWNLOAD&sorting=true')

Gas_per_State_clean = pandas.melt(
    Gas_per_State,
    id_vars=['Date'],
    var_name=['State'],
    value_name='Dollars per gallon'
)

Gas_per_State_clean                    # Assures States are in one column

             Date                           State  Dollars per gallon
0      03/29/2021  New York State Average ($/gal)                2.91
1      03/22/2021  New York State Average ($/gal)                2.91
2      03/15/2021  New York State Average ($/gal)                2.88
3      03/08/2021  New York State Average ($/gal)                2.81
4      03/01/2021  New York State Average ($/gal)                2.75
...           ...                             ...                 ...
11912  11/26/2007    White Plains Average ($/gal)                 NaN
11913  11/19/2007    White Plains Average ($/gal)                 NaN
11914  11/12/2007    White Plains Average ($/gal)                 NaN
11915  11/05/2007    White Plains Average ($/gal)                 NaN
11916  10/29/2007    White Plains Average ($/gal)                 NaN

[11917 rows x 3 columns]

In [8]:
for col in Gas_per_State_clean.columns:
    print(col)

Date
State
Dollars per gallon

# data 3
https://catalog.data.gov/dataset/department-of-state-business-filings-beginning-1991

In [9]:
df4 = pandas.read_csv('https://data.ny.gov/api/views/m7i3-tv6j/rows.csv?accessType=DOWNLOAD')
df4.shape
df4

,Full Certificate Code,Certificate Type Code,Certificate Type Description,Authority Type Code,Authority Type Description,Business Type Code,Business Type Description,Name Type Code,Name Type Description,Description,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total
0,01DA A,1,"INCORPORATION, APPLICATION FOR AUTHORITY, NOTI...",D,DOMESTIC,A,LIMITED LIABILITY COMPANY,A,ACTUAL NAME,ARTICLES OF ORGANIZATION (DOM LLC),1991,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,01DB A,1,"INCORPORATION, APPLICATION FOR AUTHORITY, NOTI...",D,DOMESTIC,B,BUSINESS,A,ACTUAL NAME,INCORPORATION (DOM. BUSINESS),1991,5726,5022,5810,5868,5832.0,4880.0,5280.0,5246.0,4658.0,5727.0,4949.0,4721.0,63719
2,01DC A,1,"INCORPORATION, APPLICATION FOR AUTHORITY, NOTI...",D,DOMESTIC,C,COOPERATIVE,A,ACTUAL NAME,INCORPORATION (DOM.COOPERATIVE),1991,1,0,1,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,4
3,01DL A,1,"INCORPORATION, APPLICATION FOR AUTHORITY, NOTI...",D,DOMESTIC,L,LIMITED PARTNERSHIP,A,ACTUAL NAME,LIMITED PARTNERSHIP (DOMESTIC),1991,0,0,0,0,0.0,0.0,25.0,47.0,39.0,54.0,37.0,87.0,289
4,01DN A,1,"INCORPORATION, APPLICATION FOR AUTHORITY, NOTI...",D,DOMESTIC,N,NOT FOR PROFIT,A,ACTUAL NAME,INCORPORATION (NOT-FOR-PROFIT),1991,231,249,310,283,301.0,239.0,260.0,230.0,208.0,253.0,233.0,256.0,3053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10783,49FL A,49,CERTIFICATE OF PUBLICATION,F,FOREIGN,L,LIMITED PARTNERSHIP,A,ACTUAL NAME,CERTIFICATE OF PUBLICATION (FOR LP),2021,19,27,27,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75
10784,49FL F,49,CERTIFICATE OF PUBLICATION,F,FOREIGN,L,LIMITED PARTNERSHIP,F,FICTITIOUS,CERTIFICATE OF PUBLICATION (FOR LP FICT),2021,0,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
10785,49FP A,49,CERTIFICATE OF PUBLICATION,F,FOREIGN,P,LIMITED LIABILITY PARTNERSHIP,A,ACTUAL NAME,CERTIFICATE OF PUBLICATION (FOR RLLP),2021,0,0,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
10786,49FS A,49,CERTIFICATE OF PUBLICATION,F,FOREIGN,S,PROFESSIONAL SERVICE LIMITED LIABILITY COMPANY,A,ACTUAL NAME,CTF OF PUBLICATION (FOREIGN/PROF./LLC),2021,1,3,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
10787,49FS F,49,CERTIFICATE OF PUBLICATION,F,FOREIGN,S,PROFESSIONAL SERVICE LIMITED LIABILITY COMPANY,F,FICTITIOUS,CTF OF PUBLICATION (FOR./FICT/PROF./LLC),2021,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

### Is this data tidy or not?

YES

# data 4
https://catalog.data.gov/dataset/new-york-city-leading-causes-of-death-ce97f

In [10]:
df6 = pandas.read_csv('https://data.cityofnewyork.us/api/views/jb7j-dtam/rows.csv?accessType=DOWNLOAD')
df6.shape
df6

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2009,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Hispanic,1382,123.1,227.9
1,2009,Chronic Lower Respiratory Diseases (J40-J47),M,Hispanic,111,9.9,18.3
2,2009,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Asian and Pacific Islander,554,108.5,158.8
3,2008,Essential Hypertension and Renal Diseases (I10...,M,Black Non-Hispanic,134,15.8,20.9
4,2010,Mental and Behavioral Disorders due to Acciden...,F,Other Race/ Ethnicity,.,.,.
...,...,...,...,...,...,...,...
1511,2017,"Chronic Liver Disease and Cirrhosis (K70, K73-...",Male,Other Race/ Ethnicity,2,NaN,NaN
1512,2017,Aortic Aneurysm and Dissection (I71),Male,Other Race/ Ethnicity,2,NaN,NaN
1513,2017,Alzheimer's Disease (G30),Male,Other Race/ Ethnicity,2,NaN,NaN
1514,2017,Septicemia (A40-A41),Male,Other Race/ Ethnicity,2,NaN,NaN
1515,2017,All Other Causes,Male,Other Race/ Ethnicity,16,NaN,NaN

### Is this data tidy or not?

YES

*if the data is not tidy, then convert the data to a tidy dataframe*

# data 5
https://www.briandunning.com/sample-data/<BR>
https://www.briandunning.com/sample-data/us-500.zip

You may need to install the "zipfile" library using either pip or conda

# https://pypi.org/project/zipfile36/
!pip install zipfile36

# https://anaconda.org/anaconda/zipfile36
conda install -c anaconda zipfile36

In [11]:
import requests, zipfile, io

In [12]:
zip_file_url = 'https://www.briandunning.com/sample-data/us-500.zip'

In [13]:
# source: https://stackoverflow.com/a/14260592/1164295
r = requests.get(zip_file_url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [14]:
df6 = pandas.read_csv('us-500.csv')

In [15]:
df6

,first_name,last_name,company_name,address,city,county,state,zip,phone1,phone2,email,web
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org,http://www.chemeljameslcpa.com
3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,208-206-9848,bgillaspie@gillaspie.com,http://www.innerlabel.com
496,Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,574-330-1884,rkampa@kampa.org,http://www.hermarinc.com
497,Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,308-250-6987,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
498,Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,206-395-6284,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
499,Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,407-557-8857,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

### Is this data tidy or not?

NO

*if the data is not tidy, then convert the data to a tidy dataframe*

In [16]:
df6["Name"] = df6["first_name"] + df6["last_name"]

df6["Address"] = df6["address"].astype(str)+ df6["city"].astype(str) + df6["county"].astype(str)+ df6["state"].astype(str)+ df6["zip"].astype(str)

df6['Phone Numbers'] = df6[['phone1', 'phone2']].agg('    '.join, axis=1)


df7=df6.drop(columns=["address","city","county","state","zip","first_name","last_name","phone1","phone2"])
df7  # Makes it more organized by combining similar data into one column

,company_name,email,web,Name,Address,Phone Numbers
0,"Benton, John B Jr",jbutt@gmail.com,http://www.bentonjohnbjr.com,JamesButt,6649 N Blue Gum StNew OrleansOrleansLA70116,504-621-8927 504-845-1427
1,"Chanay, Jeffrey A Esq",josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com,JosephineDarakjy,4 B Blue Ridge BlvdBrightonLivingstonMI48116,810-292-9388 810-374-9840
2,"Chemel, James L Cpa",art@venere.org,http://www.chemeljameslcpa.com,ArtVenere,8 W Cerritos Ave #54BridgeportGloucesterNJ8014,856-636-8749 856-264-4130
3,Feltz Printing Service,lpaprocki@hotmail.com,http://www.feltzprintingservice.com,LennaPaprocki,639 Main StAnchorageAnchorageAK99501,907-385-4412 907-921-2010
4,Printing Dimensions,donette.foller@cox.net,http://www.printingdimensions.com,DonetteFoller,34 Center StHamiltonButlerOH45011,513-570-1893 513-549-4561
...,...,...,...,...,...,...
495,Inner Label,bgillaspie@gillaspie.com,http://www.innerlabel.com,BrittniGillaspie,67 Rv CentBoiseAdaID83709,208-709-1235 208-206-9848
496,Hermar Inc,rkampa@kampa.org,http://www.hermarinc.com,RayleneKampa,2 Sw Nyberg RdElkhartElkhartIN46514,574-499-1454 574-330-1884
497,Simonton Howe & Schneider Pc,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com,FloBookamer,89992 E 15th StAllianceBox ButteNE69301,308-726-2182 308-250-6987
498,Warehouse Office & Paper Prod,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com,JaniBiddy,61556 W 20th AveSeattleKingWA98104,206-711-6498 206-395-6284
499,Affiliated With Travelodge,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com,ChaunceyMotley,63 E Aurora DrOrlandoOrangeFL32804,407-413-4842 407-557-8857

In [17]:
for col in df7.columns:
    print(col)

company_name
email
web
Name
Address
Phone Numbers

<!--
Hidden bonus question!

This is optional, not required, and not part of the graded assignment

# data 6
https://data.cdc.gov/NNDSS/NNDSS-Table-II-Lyme-disease-to-Meningococcal/y6uv-t34t
-->

<!--
WARNING: THIS IS A HARD CHALLENGE.
I recommend not spending more than 1 hour on this. 

df6 = pandas.read_csv('https://data.cdc.gov/api/views/y6uv-t34t/rows.csv?accessType=DOWNLOAD')
df6.shape
-->