## Project #1 (20%)

In [26]:
num1 = int(input("Ente First Project Grade: ")) # Some of this code (about a third code) was published on https://beginnersbook.com/2018/06/python-program-to-add-subtract-multiply-divide-two-numbers/
num2 = 5                                         # We will take this 5 and divide it by the score inputed to get the weighed score for later 


if num1 <= 100:                                                         # Only numbers under 100 allowed will prompt to rerun code if more then 100
    result = (num1 / num2)                                              # Weighed Score 
    print("Weiged Project #1 Grade is", num1, num2, ":", result)   # Print weighed score 

else: 
    print("Please number below 100! Please rerun the code!")            # Prompt to rerun code (if number is above 100)

Project_1= (num1 / num2)                                                # Save variable for later (add all variables later)

Enter First Project Grade: 80
Weiged Project #1 Grade is 80 5 : 16.0

## Project #2 (20%)

In [27]:
num3 = int(input("Enter First Project Grade: ")) # Some of this code (about a third code) was published on https://beginnersbook.com/2018/06/python-program-to-add-subtract-multiply-divide-two-numbers/
num4 = 5                                         # We will take this 5 and divide it by the score inputed to get the weighed score for later 


if num3 <= 100:                                                        # Only numbers under 100 allowed will prompt to rerun code if more then 100
    result = (num3 / num4)                                             # Weighed Score now for project weighed score #2
    print("Weiged Project #2 Grade is", num3, num4, ":", result)  # Print weighed score 

else: 
    print("Please number below 100! Please rerun the code!")           # Prompt to rerun code (if number is above 100)

Project_2= (num3 / num4)                                               # Save variable for later (add all variables later)

Enter First Project Grade: 80
Weiged Project #2 Grade is 80 5 : 16.0

## Project #3 (20%)

In [28]:
num5 = int(input("Enter First Project Grade: ")) # Some of this code (about a third code) was published on https://beginnersbook.com/2018/06/python-program-to-add-subtract-multiply-divide-two-numbers/
num6 = 5                                         # We will take this 5 and divide it by the score inputed to get the weighed score for later 


if num5 <= 100:                                                        # Only numbers under 100 allowed will prompt to rerun code if more then 100
    result = (num5 / num6)                                             # Weighed Score now for project weighed score #3
    print("Weiged Project #3 Grade is", num5,  num6, ":", result)  # Print weighed score 

else: 
    print("Please number below 100! Please rerun the code!")           # Prompt to rerun code (if number is above 100)

Project_3= (num5 / num6)                                               # Save variable for later (add all variables later)

Enter First Project Grade: 80
Weiged Project #3 Grade is 80 5 : 16.0

## Attendence and Participation (10%)

In [29]:
import pandas as pd                                    # Using pandas for this 
d = {'Attendance': [1, 1,1,1,1,1,1,0,0,1,1,0,1,1,1]}   # I am gonna use 1's for attendance and zero's for non-attendance 
df = pd.DataFrame(data=d)                              # This dataframe is sort of like a attendance list I can use for later 
print ("1's are attendance, zero's are non-attendance ")
df

1's are attendance, zero's are non-attendance

    Attendance
0            1
1            1
2            1
3            1
4            1
5            1
6            1
7            0
8            0
9            1
10           1
11           0
12           1
13           1
14           1

In [30]:
df=df.apply(pd.Series.value_counts, axis=0) # Find number of times presents for attendance and non-attendance 
df                                          # Display 1 row attendance, 0 row non-attendance

   Attendance
1          12
0           3

In [31]:
df.at[1,'Attendance'] # Find number of times presents for attendance and save as variable below

12

In [32]:
Attended_Times= df.at[1,'Attendance'] # Find number of times presents for attendance and save as variable

In [33]:
Attend_Part=(Attended_Times/15)*10 # Divide by 15 and mutiply by 10 to weight the score, save as variable and add for later 
print (Attend_Part)

8.0

## Assignments (30%)

In [34]:
import pandas as pd
d = {'Assignment Grades': [100, 0,0,100,100,18,100,70,100,100,100,100,100,100,100,30,30,30,38,100,100,100,100,100,30,100,100,100,100,100]} # Same idea as last time, did not randomly produce the numbers felt that was impractical, made a grade list instead so I can use for later
df = pd.DataFrame(data=d)
df

    Assignment Grades
0                 100
1                   0
2                   0
3                 100
4                 100
5                  18
6                 100
7                  70
8                 100
9                 100
10                100
11                100
12                100
13                100
14                100
15                 30
16                 30
17                 30
18                 38
19                100
20                100
21                100
22                100
23                100
24                 30
25                100
26                100
27                100
28                100
29                100

In [35]:
df.sample (10)         # Use df.sample to get ten random rows (grades), use sample (10) to get ten random rows 
df2=df.sample (10)
df2                    # Display

    Assignment Grades
29                100
16                 30
2                   0
12                100
14                100
8                 100
4                 100
0                 100
1                   0
7                  70

In [36]:
df2["Assignment Grades"].mean() # Mean of 10 grades (rows)

70.0

In [37]:
Assignment_Grade= df2["Assignment Grades"].mean()*.3 # Use .3 to give it its weigh (30%)
print (Assignment_Grade)

21.0

## Final Grade Calculation (100%)

In [38]:
Project_1+Project_2+Project_3+Attend_Part+Assignment_Grade # Add the weighed and you have the final grade calcualtion!

77.0