<a href="https://colab.research.google.com/github/jonnie763/DATA-Science-601/blob/main/Week_2_CSV_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# https://people.sc.fsu.edu/~jburkardt/data/csv/csv.html
# That is a general link, datasource given as an attachment as well
import pandas as pd
Height_df = pd.read_csv("/content/hw_25000.csv") # Read csv using this code, print df
Height_df                                        # Pandas naturally cuts off the dataframe when it is too large

       Index   "Height(Inches)"   "Weight(Pounds)"
0          1           65.78331           112.9925
1          2           71.51521           136.4873
2          3           69.39874           153.0269
3          4           68.21660           142.3354
4          5           67.78781           144.2971
...      ...                ...                ...
24995  24996           69.50215           118.0312
24996  24997           64.54826           120.1932
24997  24998           64.69855           118.2655
24998  24999           67.52918           132.2682
24999  25000           68.87761           124.8742

[25000 rows x 3 columns]

In [3]:
Height_df.info # Some useful info, includes rows and columns

<bound method DataFrame.info of        Index   "Height(Inches)"   "Weight(Pounds)"
0          1           65.78331           112.9925
1          2           71.51521           136.4873
2          3           69.39874           153.0269
3          4           68.21660           142.3354
4          5           67.78781           144.2971
...      ...                ...                ...
24995  24996           69.50215           118.0312
24996  24997           64.54826           120.1932
24997  24998           64.69855           118.2655
24998  24999           67.52918           132.2682
24999  25000           68.87761           124.8742

[25000 rows x 3 columns]>

In [4]:
Height_df.head(8) # Head plus 8 equals first 8 rows

   Index   "Height(Inches)"   "Weight(Pounds)"
0      1           65.78331           112.9925
1      2           71.51521           136.4873
2      3           69.39874           153.0269
3      4           68.21660           142.3354
4      5           67.78781           144.2971
5      6           68.69784           123.3024
6      7           69.80204           141.4947
7      8           70.01472           136.4623

In [5]:
Height_df.tail(3) # Tail plus 3 equals bottom three rows

       Index   "Height(Inches)"   "Weight(Pounds)"
24997  24998           64.69855           118.2655
24998  24999           67.52918           132.2682
24999  25000           68.87761           124.8742

In [6]:
Height_df2=Height_df.head(4) # Need to define a variable with four heads only 
Height_df2                   # Once that is done transpose

   Index   "Height(Inches)"   "Weight(Pounds)"
0      1           65.78331           112.9925
1      2           71.51521           136.4873
2      3           69.39874           153.0269
3      4           68.21660           142.3354

In [7]:
Height_df2.transpose()     # Now that you have a first four rows dataframe, use transpose ()

                           0          1          2         3
Index                1.00000    2.00000    3.00000    4.0000
 "Height(Inches)"   65.78331   71.51521   69.39874   68.2166
 "Weight(Pounds)"  112.99250  136.48730  153.02690  142.3354